<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Add Programmer</title>
</head>
<body>
    <form action="/addProgrammer/" method="POST">
    {% csrf_token %}
        Name:
        <input id="programmer_name_tb" name="programmer_name_tb">
        <button id="add_programmer_btn" name="add_programmer_btn">add</button>
    </form>
    <div><a href="/pairStair" id="pair_stair_link">Show Pair Stair</a></div>
</body>
</html>